// Theme
// include "./theme.kdl"
include "./noctalia.kdl"
include "./cfg/blur.kdl"

include "./animations/current_animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"


