layout {

    focus-ring {
        active-color   "#ffb0cc"
        inactive-color "#171213"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb0cc"
        inactive-color "#171213"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb0cc"
        inactive-color "#7a294d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb0cc80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb0cc"
        urgent-color "#ffb4ab"
    }
}
