layout {

    focus-ring {
        active-color   "#f1afff"
        inactive-color "#151215"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f1afff"
        inactive-color "#151215"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f1afff"
        inactive-color "#672f78"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f1afff80"
    }
}

recent-windows {
    highlight {
        active-color "#f1afff"
        urgent-color "#ffb4ab"
    }
}
