// Archivo autogenerado por Matugen para Niri
layout {
    // Apagamos el focus-ring para usar bordes tradicionales en todas las ventanas
    border {
        active-color "#9acbfa"
        
        inactive-color "#003352"
    }
}
