// Check the wiki for a full description of the configuration:
//   https://yalter.github.io/niri/Configuration:-Introduction

// ----------------------------------------------------------------------------
// Launch at startup
// ----------------------------------------------------------------------------

// --- 1. ENTORNO, SEGURIDAD Y PERMISOS ---
// El xdg-desktop-portal y el ssh-agent con tus movidas de Keepass
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "dbus-update-activation-environment --systemd SSH_AUTH_SOCK && systemctl --user import-environment SSH_AUTH_SOCK && ssh-agent -a $XDG_RUNTIME_DIR/ssh-agent.socket"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

// --- 2. INTERFAZ GRÁFICA Y DEMONIOS PRINCIPALES ---
spawn-at-startup "waypaper" "--restore"       // Tu fondo de pantalla

spawn-sh-at-startup "wl-paste --watch cliphist store"     
// Ucp.yazi va cuando le sale de la polla, no entiendo nada, es una locura xd

// --- 3. GESTIÓN DE ENERGÍA ---
spawn-at-startup "hypridle"                   // Debería funcionarte igual en Niri

spawn-sh-at-startup "gtk.sh"
spawn-sh-at-startup "cacheML4W.sh"
// spawn-sh-at-startup "listeners.sh --startall"

// ----------------------------------------------------------------------------
// Input devices (mouse, trackpad, keyboard, etc.)
// ----------------------------------------------------------------------------

input {
    focus-follows-mouse
    keyboard {
        xkb {
            // Swap caps lock and escape.
            // Remap menu key to act as an extra super / mod key.
            options "caps:escape,altwin:menu_win"
            layout "es"
        }

        // A fairly fast repeat rate and delay.
        repeat-delay 300
        repeat-rate 25
    }

    touchpad {
        // Tapping anywhere registers a left click.
        tap

        // Inverted scrolling.
        natural-scroll

        // Disable acceleration.
        accel-profile "flat"
    }

    mouse {
        // Disable acceleration.
        accel-profile "adaptive"

        // Faster scrolling with the mouse wheel.
        scroll-factor 1.0
    }
}


// ----------------------------------------------------------------------------
// Output monitor
// ----------------------------------------------------------------------------

output "DP-2" {
    mode "1920x1080@179.998"
    scale 1
    position x=0 y=0
}

// ----------------------------------------------------------------------------
// Behaviors and aesthetics
// ----------------------------------------------------------------------------

environment {
    // Arreglo definitivo para JDownloader y aplicaciones Java antiguas
    _JAVA_AWT_WM_NONREPARENTING "1"
}

// Avoid writing screenshots to disk since they get piped into satty.
screenshot-path null

hotkey-overlay {
    // Avoid auto-showing the important hotkeys menu.
    skip-at-startup
}

gestures {
    // Disable overview when mousing over the top left of primary screen.
    hot-corners {
        off
    }
}

// Remove window decorations (requires opening and closing each app to change).
prefer-no-csd

layout {
    // Set gaps around windows in logical pixels.
    gaps 10

    focus-ring {
        off
    }

    border {
        on
        width 2
    }

    always-center-single-column

}

// ----------------------------------------------------------------------------
// Window rules / layer rules
// ----------------------------------------------------------------------------

// ID de todo lo que esté abierto
// niri-apps-id alias 
// niri msg -j windows | jq -r '.[] | "\(.title) -> \(.app_id)"'

// niri-select-app-id alias
// ID de una aplicación que selecciones
// niri msg pick-window
//


window-rule {
    // Slight rounded corners.
    geometry-corner-radius 10
    clip-to-geometry true
    // match is-floating=false
    // tiled-state true
}

// Assorted window rules.
window-rule {
    match app-id=r"^Pinentry-gtk$"
    match app-id=r"^Tk$"
    match app-id=r"^gimp$" title=r"Preferences"
    match app-id=r"^mpv$"
    match app-id=r"^soffice$" title=r"^Text Import"
    match app-id=r"^thunar$" title=r"^Rename "
    match app-id=r"^virt-manager$" title=r" - Connection Details"
    match app-id=r"^wev$"
    match app-id=r"^xarchiver$"
    match app-id=r"firefox$" title=r"^(Picture-in-Picture|Library|About Mozilla Firefox|Firefox - Choose a profile)$"

    open-floating true
}

window-rule {
    match app-id=r"^dfr\.floating\.ghostty$"
    match app-id=r"^dfr\.floating\.thunar$"

    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.5; }
}

window-rule {
    match app-id=r"^com\.gabm\.satty$"
    open-floating true
    min-width 730
    min-height 300
}

window-rule {
    match app-id=r"^KeePassXC$"
    block-out-from "screencast"
}


// Aplicaciones que quires que se abran maximizadas

window-rule {
    match app-id=r"(Cemu|eden|dolphin-emu|pcsx2-qt|Spotify|steam|org-jdownloader-update-launcher-JDLauncher)"
    // match app-id=r"^brave-browser$"
    // match app-id=r"^helium$"
    open-maximized true
}

// Oniri

// Opciones para que si solo hay una ventana abierta en el workspace, se abra maximizada
// https://github.com/Antiz96/oniri/

window-rule {
    draw-border-with-background false
}

// ----------------------------------------------------------------------------
// Key binds
// ----------------------------------------------------------------------------

binds {
    // =====================================================================
    // 1. LOS TOP GLOBALES
    // =====================================================================
    
    // Modos de visualización especiales
    Mod+O repeat=false hotkey-overlay-title="Toggle overview" { toggle-overview; }
    Mod+A hotkey-overlay-title="Toggle tabbed column" { toggle-column-tabbed-display; }
    Mod+T hotkey-overlay-title="Toggle floating window" { toggle-window-floating; }
    Mod+Z hotkey-overlay-title="Switch focus between floating and tiling" { switch-focus-between-floating-and-tiling; }
    
    // Organización orgánica de columnas (Consume / Expel)
    Mod+U hotkey-overlay-title="Move window in/out of column to the left" { consume-or-expel-window-left; }
    Mod+Alt+U hotkey-overlay-title="Move window in/out of column to the right" { consume-or-expel-window-right; }
    Mod+Comma hotkey-overlay-title="Move right window under focused column" { consume-window-into-column; }
    Mod+Period hotkey-overlay-title="Remove bottom window from focused column" { expel-window-from-column; }

    // Gestión básica de ventanas
    Mod+Q repeat=false hotkey-overlay-title="Close window" { close-window; }
    Mod+Space hotkey-overlay-title="Launcher rofi" { spawn-sh "pkill rofi || rofi -show drun -replace -i"; }
    Mod+V repeat=false hotkey-overlay-title="Launcher (clipboard)" { spawn-sh "ml4w-cliphist"; }
    Mod+I hotkey-overlay-title="Focus previously focused window" { focus-window-previous; }

    // Aplicaciones principales y terminales
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+Shift+Return hotkey-overlay-title="Terminal (floating)" { spawn "kitty" "--class=dfr.floating.ghostty"; }
    Mod+W hotkey-overlay-title="Browser" { spawn-sh "helium-browser "; }
    Mod+Shift+W hotkey-overlay-title="Browser (Brave)" { spawn-sh "brave --password-store=basic"; }
    Mod+N hotkey-overlay-title="Abrir Nvim" { spawn "nv"; }
    
    // Exploradores de archivos
    Mod+E hotkey-overlay-title="File manager (Yazi)" { spawn-sh "env EDITOR=$HOME/scripts-global/nv kitty --class yazi -e yazi"; }
    Mod+Y hotkey-overlay-title="File manager (Yazi)" { spawn-sh "env EDITOR=$HOME/scripts-global/nv kitty --class yazi -e yazi"; }
    Mod+Shift+E hotkey-overlay-title="File manager (floating)" { spawn "nemo" "--name=dfr.floating.thunar"; }

    // Lanzadores inteligentes (Evitan abrir apps duplicadas)
    Mod+Alt+B hotkey-overlay-title="Lanzar Btop" { spawn "dfr-launch-or-focus-tui" "btop"; }
    Mod+Alt+P hotkey-overlay-title="Passwords" { spawn "dfr-launch-or-focus" "keepassxc"; }
    Mod+Alt+S hotkey-overlay-title="Spotify" { spawn "dfr-launch-or-focus" "spotify"; }

    // Capturas de pantalla y herramientas visuales
    Mod+Shift+S hotkey-overlay-title="Screenshot (region)" { spawn-sh "capture_selection.sh"; }
    Mod+Ctrl+S hotkey-overlay-title="Screenshot (edit)" { spawn-sh "capture_edition.sh"; }
    Mod+Shift+T hotkey-overlay-title="Screenshot (copy text)" { spawn-sh "capture_text.sh"; }
    Mod+P hotkey-overlay-title="Screenshot Wayfreaze" { spawn-sh "screenshot_freeze.sh"; }
    Mod+Ctrl+Shift+S hotkey-overlay-title="Screenshot (monitor: focused)" { spawn "dfr-screenshot" "monitor-focused"; }
    Mod+Shift+P hotkey-overlay-title="Pick color" { spawn-sh "killall hyprpicker || hyprpicker --autocopy --lowercase-hex"; }

    // Sistema y Notificaciones
    Mod+Ctrl+N hotkey-overlay-title="Show notifications" { spawn "swaync-client" "-t"; }
    Mod+Ctrl+Q hotkey-overlay-title="Powermenu" { spawn-sh "quickshell -p ~/scripts-global/Persona-Powermenu/powermenu.qml"; }
    Mod+Ctrl+A hotkey-overlay-title="Powermenu" { spawn-sh "quickshell -p ~/scripts-global/Persona-Powermenu/powermenu.qml"; }
    Mod+Shift+Ctrl+L hotkey-overlay-title="Lock screen" { spawn "~/.local/share/quickshell-lockscreen/lock.sh"; }
    Mod+Ctrl+Shift+U hotkey-overlay-title="Toggle Hyprsunset" { spawn "ml4w-toggle-hyprsunset"; }
    Mod+Shift+Apostrophe hotkey-overlay-title="Keybinds Menu" { spawn "niri-keybindings.sh"; }

    // =====================================================================
    // 2. GESTIÓN DE NIRI
    // =====================================================================
    
    // Redimensionado y control de tamaños 
    Mod+S hotkey-overlay-title="Maximize column" { maximize-column; }
    Mod+F hotkey-overlay-title="Full screen window" { fullscreen-window; }
    Mod+Ctrl+F hotkey-overlay-title="Fill empty column space" { expand-column-to-available-width; }
    Mod+R hotkey-overlay-title="Cycle preset widths" { switch-preset-column-width; }
    Mod+Shift+R hotkey-overlay-title="Cycle preset heights" { switch-preset-window-height; }
    Mod+Ctrl+R hotkey-overlay-title="Reset window height" { reset-window-height; }

    // Ajustes finos de tamaño 
    Mod+Plus hotkey-overlay-title="Increase column width" { set-column-width "+5%"; }
    Mod+Minus hotkey-overlay-title="Decrease column width" { set-column-width "-5%"; }
    Mod+Ctrl+Period hotkey-overlay-title="Increase column width" { set-column-width "+5%"; }
    Mod+Ctrl+Comma hotkey-overlay-title="Decrease column width" { set-column-width "-5%"; }
    Mod+Shift+Plus hotkey-overlay-title="Increase window height" { set-window-height "+10%"; }
    Mod+Shift+Minus hotkey-overlay-title="Decrease window height" { set-window-height "-10%"; }
    Mod+Shift+Period hotkey-overlay-title="Increase window height" { set-window-height "+10%"; }
    Mod+Shift+Comma hotkey-overlay-title="Decrease window height" { set-window-height "-10%"; }

    // Gestión de Waybar y Estética
    Mod+Shift+B hotkey-overlay-title="Reload Waybar" { spawn-sh "~/.config/waybar/launch.sh"; }
    Mod+Ctrl+B hotkey-overlay-title="Toggle waybar" { spawn-sh "~/.config/waybar/toggle.sh"; }
    Mod+Ctrl+T hotkey-overlay-title="Waybar theme switcher" { spawn-sh "~/.config/waybar/themeswitcher.sh"; }
    Mod+Ctrl+Shift+c hotkey-overlay-title="Cambiar animación" { spawn-sh "niri-anim-toggle.sh" ; }

    // Escalado de monitor al vuelo (Zoom)
    Mod+Ctrl+Shift+Equal hotkey-overlay-title="Increase focused monitor scale" { spawn "output-scale" "+"; }
    Mod+Ctrl+Shift+Minus hotkey-overlay-title="Decrease focused monitor scale" { spawn "output-scale" "-"; }
    Mod+Ctrl+Shift+0 hotkey-overlay-title="Reset focused monitor scale" { spawn "output-scale" "1.0"; }

    // Streaming de ventana dinámico (OBS / Proyecciones)
    Mod+Shift+Ctrl+O hotkey-overlay-title="Casting dinámico de ventana" { spawn-sh "niri msg action set-dynamic-cast-window --id $(niri msg --json focused-window | jq .id)"; }

    // Inhibidor de atajos (Para máquinas virtuales o escritorios remotos)
    Mod+Escape allow-inhibiting=false hotkey-overlay-title="Always process even with inhibitor" { toggle-keyboard-shortcuts-inhibit; }

    // =====================================================================
    // 3. MOVIMIENTOS NATIVOS Y DIRECCIONALES (Clásicos y ratón)
    // =====================================================================
    
    // Mover el foco (Teclas de dirección tradicionales y Vim keys)
    Mod+Left hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+Down hotkey-overlay-title="Focus column down" { focus-window-down; }
    Mod+Up hotkey-overlay-title="Focus column up" { focus-window-up; }
    Mod+Right hotkey-overlay-title="Focus column right" { focus-column-right; }
    Mod+H hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+J hotkey-overlay-title="Focus column down" { focus-window-down; }
    Mod+K hotkey-overlay-title="Focus column up" { focus-window-up; }
    Mod+L hotkey-overlay-title="Focus column right" { focus-column-right; }

    // Mover las ventanas de sitio físico
    Mod+Ctrl+Left hotkey-overlay-title="Move column left" { move-column-left; }
    Mod+Ctrl+Down hotkey-overlay-title="Move column down" { move-window-down; }
    Mod+Ctrl+Up hotkey-overlay-title="Move column up" { move-window-up; }
    Mod+Ctrl+Right hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Ctrl+H hotkey-overlay-title="Move column left" { move-column-left; }
    Mod+Ctrl+J hotkey-overlay-title="Move column down" { move-window-down; }
    Mod+Ctrl+K hotkey-overlay-title="Move column up" { move-window-up; }
    Mod+Ctrl+L hotkey-overlay-title="Move column right" { move-column-right; }

    // Saltos rápidos a extremos (Inicio, Fin)
    Mod+G hotkey-overlay-title="Focus first column" { focus-column-first; }
    Mod+Alt+G hotkey-overlay-title="Focus last column" { focus-column-last; }
    Mod+Ctrl+G hotkey-overlay-title="Move column to first" { move-column-to-first; }
    Mod+Ctrl+Alt+G hotkey-overlay-title="Move column to last" { move-column-to-last; }
    Mod+Home hotkey-overlay-title="Focus first column" { focus-column-first; }
    Mod+End hotkey-overlay-title="Focus last column" { focus-column-last; }
    Mod+Ctrl+Home hotkey-overlay-title="Move column to first" { move-column-to-first; }
    Mod+Ctrl+End hotkey-overlay-title="Move column to last" { move-column-to-last; }

    // Navegación fluida con rueda del ratón
    Mod+WheelScrollDown hotkey-overlay-title="Focus column right" { focus-column-right; }
    Mod+WheelScrollUp hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+Ctrl+WheelScrollDown hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Ctrl+WheelScrollUp hotkey-overlay-title="Move column left" { move-column-left; }
    Mod+WheelScrollRight hotkey-overlay-title="Focus column right" { focus-column-right; }
    Mod+WheelScrollLeft hotkey-overlay-title="Focus column left" { focus-column-left; }
    Mod+Ctrl+WheelScrollRight hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Ctrl+WheelScrollLeft hotkey-overlay-title="Move column left" { move-column-left; }

    // Configuración Multi-monitor
    Mod+Ctrl+Shift+Left hotkey-overlay-title="Move column to left monitor" { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Down hotkey-overlay-title="Move column to lower monitor" { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+Up hotkey-overlay-title="Move column to upper monitor" { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+Right hotkey-overlay-title="Move column to right monitor" { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+H hotkey-overlay-title="Move column to left monitor" { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J hotkey-overlay-title="Move column to lower monitor" { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K hotkey-overlay-title="Move column to upper monitor" { move-column-to-monitor-up; }
    // Mod+Ctrl+Shift+L hotkey-overlay-title="Move column to right monitor" { move-column-to-monitor-right; }
    Mod+MouseBack hotkey-overlay-title="Focus left monitor" { focus-monitor-left; }
    Mod+MouseForward hotkey-overlay-title="Focus right monitor" { focus-monitor-right; }
    Mod+Ctrl+Shift+MouseBack hotkey-overlay-title="Move column to left monitor" { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+MouseForward hotkey-overlay-title="Move column to right monitor" { move-column-to-monitor-right; }

    // =====================================================================
    // 4. TU MAMÁ
    // =====================================================================
    
    // Control de Workspaces genérico (Páginas y Desplazamiento alternativo)
    Mod+Alt+J hotkey-overlay-title="Focus next workspace" { focus-workspace-down; }
    Mod+Alt+K hotkey-overlay-title="Focus previous workspace" { focus-workspace-up; }
    Mod+Page_Down hotkey-overlay-title="Focus next workspace" { focus-workspace-down; }
    Mod+Page_Up hotkey-overlay-title="Focus previous workspace" { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 hotkey-overlay-title="Focus next workspace" { focus-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 hotkey-overlay-title="Focus previous workspace" { focus-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 hotkey-overlay-title="Move column to next workspace" { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=150 hotkey-overlay-title="Move column to previous workspace" { move-column-to-workspace-up; }
    
    // Movimientos avanzados de Workspaces enteros
    Mod+Ctrl+D hotkey-overlay-title="Move column to next workspace" { move-column-to-workspace-down; }
    Mod+Ctrl+U hotkey-overlay-title="Move column to previous workspace" { move-column-to-workspace-up; }
    Mod+Ctrl+Page_Down hotkey-overlay-title="Move column to next workspace" { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up hotkey-overlay-title="Move column to previous workspace" { move-column-to-workspace-up; }
    Mod+Shift+D hotkey-overlay-title="Move workspace down" { move-workspace-down; }
    Mod+Shift+U hotkey-overlay-title="Move workspace up" { move-workspace-up; }
    Mod+Shift+Page_Down hotkey-overlay-title="Move workspace down" { move-workspace-down; }
    Mod+Shift+Page_Up hotkey-overlay-title="Move workspace up" { move-workspace-up; }

    // Control directo de Workspaces (1-9)
    Mod+1 hotkey-overlay-title="Focus workspace (1-9)" { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Enviar ventanas individuales a Workspaces (1-9)
    Mod+Shift+1 hotkey-overlay-title="Move window to workspace (1-9)" { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Enviar columnas enteras a Workspaces (1-9)
    Mod+Ctrl+1 hotkey-overlay-title="Move column to workspace (1-9)" { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Teclas multimedia con Mod+Fxx (Teclados sin teclas multimedia dedicadas)
    Mod+F11 hotkey-overlay-title="Raise volume" { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+"; }
    Mod+F10 hotkey-overlay-title="Lower volume" { spawn-sh "wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%-"; }
    Mod+F9 hotkey-overlay-title="Mute audio" { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    Mod+F2 hotkey-overlay-title="Increase brightness" { spawn-sh "ddcutil setvcp 10 + 5"; }
    Mod+F1 hotkey-overlay-title="Decrease brightness" { spawn-sh "ddcutil setvcp 10 - 5"; }
    Mod+F8 hotkey-overlay-title="Next track" { spawn-sh "playerctl next"; }
    Mod+F7 hotkey-overlay-title="Pause track" { spawn-sh "playerctl -p spotify play-pause"; }
    Mod+F6 hotkey-overlay-title="Previous track" { spawn-sh "playerctl previous"; }

    // Teclas multimedia dedicadas estándares (XF86)
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Raise volume" { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Lower volume" { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Mute playback" { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true hotkey-overlay-title="Mute microphone" { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPlay allow-when-locked=true hotkey-overlay-title="Play / pause track" { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true hotkey-overlay-title="Stop track" { spawn "playerctl" "stop"; }
    XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Previous track" { spawn "playerctl" "previous"; }
    XF86AudioNext allow-when-locked=true hotkey-overlay-title="Next track" { spawn "playerctl" "next"; }
    Shift+XF86AudioPrev allow-when-locked=true hotkey-overlay-title="Seek -10 seconds" { spawn "playerctl" "position" "10-"; }
    Shift+XF86AudioNext allow-when-locked=true hotkey-overlay-title="Seek +10 seconds" { spawn "playerctl" "position" "10+"; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Increase brightness" { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Decrease brightness" { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
}

// ----------------------------------------------------------------------------
// Theme and personalized configs
// ----------------------------------------------------------------------------
include "theme.kdl"
include "animations/current_animation.kdl"

cursor {
    hide-after-inactive-ms 500
}
