[Desktop Entry]
Name=Nvim
Exec=sh -c '$HOME/scripts-global/nv "$@"' _ %F
Terminal=false
Type=Application
Icon=nvim
Categories=TextEditor;Development;
MimeType=text/plain;text/markdown;
